<div id="<%= dom_id account %>">
  <p>
    <strong>Number:</strong>
    <%= account.number %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= account.supplier.name %>
  </p>

  <p>
    <strong>Digito:</strong>
    <%= account.digit %>
  </p>


</div>
